<div>We are in business</div>

<%
=begin%>
  assign local variable of blog_post in post:id to instance variable
<%
=end%>
<%= render partial:"form", locals:{blog_post: @blog_post} %>

<%
=begin%>
 <%= button_to "Delete", @blog_post, method: :delete, data: {turbo_confirm: "Are you sure about that?"} %> 
<%
=end%>
<%= button_to "Delete", @blog_post, method: :delete, data: { turbo: "confirm", turbo_confirm: "Are you sure about that?" } %>

