<div>We are in business</div>

<%
=begin%>
  assign local variable of blog_post in post:id to instance variable
<%
=end%>
<%= render partial:"form", locals:{blog_post: @blog_post} %>

<%= button_to "Delete", blog_post_path(@blog_post), method: :delete%>